---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Sidebar from '../../components/Sidebar.astro';
import VideoGrid from '../../components/VideoGrid.astro';
import { videos } from '../../data/load';
---
<BaseLayout title={videos.projects.title}>
  <div class="container">
    <div class="row">
      <Sidebar />
      <div class="content">
        <VideoGrid videos={videos.projects.videos} />
      </div>
    </div>
  </div>
</BaseLayout>
